.CardList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

.CardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 205px;
  height: 199px;
  margin-top: 20px;
  margin-right: 28px;
  padding: 21px;
  background: #fff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
}
.CardItem:last-child {
  margin-right: 0;
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.levelWrapper {
  display: flex;
  align-items: baseline;
}

.level {
  display: flex;
  align-items: baseline;
  margin-left: 4px;
  font-family: "HelveticaNeueCyr-Light";
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #b9c3c8;
}

.level::first-letter {
  text-transform: uppercase;
}

.CardTitle {
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #282828;
  margin-bottom: 0;
}

.CardDate {
  font-family: "HelveticaNeueCyr-Light";
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #b9c3c8;
  margin-top: 12px;
}

.CategoryWrapper {
  display: inherit;
}

.CardCategory {
  font-family: "HelveticaNeueCyr-Light";
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #282828;
  border-radius: 0px 15px 15px 0px;
  text-transform: uppercase;
  margin-left: -21px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 32px;
}

.work {
  background: #d3f6ce;
}

.family {
  background: #ffe6d3;
}

.health {
  background: #cdf7ff;
}

.learning {
  background: #fff6c0;
}

.leisure {
  background: #f8d2ff;
}

.stuff {
  background: #b9c3c8;
}

.starIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

.awardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.awardTitle {
  display: flex;
  justify-content: center;
  font-family: "HelveticaNeueCyr-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000000;
}

.awardTitleName {
  font-family: "HelveticaNeueCyr-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #00d7ff;
  overflow: hidden;
  margin-left: 7px;
}

.awardConfirmWrapper {
  display: flex;
  justify-content: center;
}

.awardConfirm {
  font-family: "HelveticaNeueCyr-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #b9c3c8;
  margin-right: 7px;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .CardItem {
    width: 290px;
    height: 260px;
  }
}

/* @media screen and (min-width: 530px) {
  .CardItem {
    width: 205px;
    height: 199px;
  }
} */
