.CardList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  margin-top: 20px;
}

.CardItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  width: 205px;
  height: 199px;
  margin-right: 28px;
  background: #fff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px 0 21px;
}

.level {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #b9c3c8;
}

/* .level::before {
  content: "\f240";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #db0837;
  transform: matrix(1, 0, 0, -1, 0, 0);
} */

.CardTitle {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #282828;
  margin-bottom: 0;
  margin-top: 30px;
}

.CardDate {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #b9c3c8;
  margin-top: 12px;
}

.CardCategory {
  /* display: inline; */
  padding: 8px 32px 6px 21px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #282828;
  background: #d3f6ce;
  border-radius: 0px 15px 15px 0px;
  text-transform: uppercase;
}
