.header {
  width: 100%;
  height: 60px;
  background-color: #242a37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.logo {
  font-family: "HelveticaNeueCyr-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #00d7ff;
}

.logout {
  margin-top: 3px;
  width: 22px;
  height: 17px;
}
.logoutButton {
  background-color: inherit;
  border: none;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px #242a37 solid;
  transition: all 500ms;
  cursor: pointer;
}
.logoutButton:hover {
  transition: all 800ms;
  border: 2px #00d7ff solid;
}
.wrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 530px) {
  .header {
    height: 70px;
    padding: 0 50px;
  }
  .logo {
    font-size: 21px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 70px;
  }
}
