.container {
  max-width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 530px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 70px;
  }
}
