.Container {
  background: #f2f3f7;
  padding: 0 30px 30px 30px;
}

.Wrapper {
  margin: 0 auto;
  max-width: 1280px;
  /* padding: 30px; */
}

@media screen and (max-width: 530px) {
  .Wrapper {
    max-width: 320px;
    padding: 15px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .Wrapper {
    max-width: 760px;
    margin: 0 auto;
  }
}
