.Container {
  background: #f2f3f7;
  padding-bottom: 40px;
  padding-left: 30px;
}

.Wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .Wrapper {
    max-width: 320px;
    padding: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 530px) {
  .Wrapper {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .Wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .Wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
  }
}

@media screen and (min-width: 1230px) {
  .Wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
  }
}
